h2 {
    margin: 0;
    font-size: 1.3em;
}

/*Zaznaczanie na nawigacji*/

nav li:nth-child(2) {
    background: #0C760C;
    color: white;
}

nav li:nth-child(2):after {
    content: "";
    position: absolute;
    background: #0C760C;
    width: 20px;
    height: 20px;
    right: calc(-1em - 4px);
    top: calc(50% - 10px);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

nav li:nth-child(2):hover {
    background: #0C760C;
    color: white;
}

/*budgets*/
.budgets > header > div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
}
.budgets > header > div {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.budgets > header > div > span {
    color: #C2C2C2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}


.budgets > header > div > span {
    color: #2E982E;
}

.budgets > header > div {
    position: relative;
}

.budgets > header > div::after {
    content: "";
    position: absolute;
    background: #2E982E;
    width: 40%;
    left: 30%;
    height: 3px;
    bottom: -2px;
}

/*budgets-containers*/
.budgets-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*budg*/
.budg {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    height: 4em;
    margin-top: 2.5em;
    font-size: 1.8em;
    border: 1px solid #707070;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.16);
    padding: 0 0.5em 0.3em 0.5em;
    transition: transform 0.5s;
}
.budg:hover{
    transform: scale(1.05);
}

.circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.9em;
    height: 1.9em;
    clip-path: circle(50% at 50% 50%);
    color: white;
    font-size: 1.3em;
}

.budg-inner-cont {
    display: flex;
    height: 70%;
    width: 90%;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-left: 0.7em;
}

.budg-inner-cont h2{
    display: inline-block;
}

.budg-inner-cont .budg-left-inner-cont{
    display: flex;
    justify-content: center;
    align-items: center;
}

.budg-inner-cont .budg-left-inner-cont .red-square{
    font-size: 1.2em;
}

.budg-walet {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-left: 0.5em;
}

.budg-dates{
    display: inline-block;
}

.budg-dates p{
    margin: 0;
    font-size: 0.45em;
    color: gray;
    text-align: right;
}

.budg-dates p span{
    float: left;
    margin-right: 0.3em;
}

.budg-walet span:nth-child(2) {
    font-size: 0.5em;
    color: gray;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 10px;
    border-radius: 1em;
    background: gray;
}

.progress-bar::before {
    content: '';
    position: absolute;
    width: var(--progress);
    height: 100%;
    left: 0;
    background: #0C6E0C;
    border-radius: 1em;
}

.progress-bar-full::before{
    background: #E51C23;
}

.pointer {
    position: absolute;
    height: 1em;
    width: 3em;
    left: calc(var(--progress) - 1.8em);
    bottom: -1.7em;
    background: gray;
    color: white;
    border-radius: 1em;
    padding: 0.1em 0.3em;
    font-size: 0.6em;
    text-align: center;
}

.pointer::before {
    content: '';
    position: absolute;
    width: 0.5em;
    height: 0.5em;
    left: calc(50% - 0.25em);
    bottom: calc(1.2em - 1px);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    background: gray;
}

.add-window{
    height: calc(52vh - 2em);
}

.add-window .input-container{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.add-window .input-container label{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.add-window input[type="number"]{
    height: 2em;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
}

.no-permission{
    margin: 1.3em 0 0 0;
    font-size: 3em;
    color: #0C760C;
    text-align: center;
}

@media (max-device-width: 1100px) and (min-device-width: 601px) {
    .budgets > header {
        font-size: 0.9em;
    }

}

@media (max-device-width: 700px) {
    .budgets > header {
        font-size: 0.9em;
    }

    .budgets {
        min-height: calc(85vh - 1.5em);
        margin: 0;
        border-radius: 0.5em 0.5em 0 0;
    }

    .budgets-container > a {
        width: 90%;
    }

    .budgets>header>div::after{
        width: 80%;
        left: 10%;
    }

}