body {
    margin: 0;
    padding: 0;
}

#login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(122deg, rgba(11, 145, 11, 1) 0%, rgba(5, 38, 4, 1) 50%);
    width: 100vw;
    height: 100vh;
    font-weight: bold;
}


.title {
    position: fixed;
    top: 5px;
    font-size: 2em;
    color: white;
    font-style: italic;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 30vw;
    border: 1px solid gray;
    border-radius: 1em;
    padding: 2em 3em ;
    background: rgba(243, 243, 243, 0.55);
}

.div-button {
    width: 100%;
}

#login-container p {
    margin: 2px 0 0 0;
}

#login-container h2 {
    font-size: 2.5em;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 0.5em;
    margin-bottom: 1.3em;
    text-align: center;
}

input[type=text],
input[type=password] {
    display: block;
    width: calc(100% - 1em - 4px);
    background: white;
    border: 2px solid #666666;
    border-radius: 0.5rem;
    font-size: 1.2em;
    color: #707070;
    outline: none;
    margin-bottom: 1.8em;
    padding: 0.5em;
}

button {
    width: 100%;
    border: none;
    font-size: 1.5em;
    background: #0D870D;
    color: rgba(255, 252, 252, 0.76);
    padding: 0.5em;
    outline: none;
    margin-top: 0.3em;
    border-radius: 0.5em;
}
button:hover{
    background: #0C760C;
    color: rgba(255, 252, 252, 1);
}

#login-container label {
    font-size: 1em;
    width: 100%;
}

#login-container a {
    font-size: 1em;
    color: #505050;
    text-decoration: none;
    font-weight: bolder;
}

#login-container a#forgot-pass {
    font-size: 1em;
    float: right;
}

.welcome {
    color: #505050;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.5em;
}
#login-container span{
    font-size: 1.3em;
}

.fa, .fas{
    margin-right: 0.2em;
}

p:hover, h2:hover, .title:hover{
    cursor: default;
}

.input-container{
    width: 100%;
    position: relative;
}

.icon-for-input{
    position: absolute;
    right: 0.5em;
    top: 0.6em;
    font-size: 1.2em;
}

.label-container{
    width: 100%;
}

@media (max-device-width: 450px) {
    #login-container{
        font-size: 2.3em;
    }
    .login-form {
        width: 80vw;
        min-height: 60vh;
        padding: 2em;
    }
}

@media (max-device-width: 575px) and (min-device-width: 451px) {
    #login-container{
        font-size: 1.6em;
    }
    .login-form {
        width: 60vw;
        min-height: 55vh;
    }
}

@media (max-device-width: 800px) and (min-device-width: 576px) {
    #login-container{
        font-size: 1.2em;
    }
    .login-form {
        width: 60vw;
        min-height: 45vh;
    }
}
