input[type=text],
input[type=password] {
    margin-bottom: 0.5em;
}

#login-container p {
    margin: 0 0 0 0;
}

#login-container h2 {
    font-size: 2em;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: 0.1em;
    margin-bottom: 0.5em;
    text-align: center;
}

.popup{
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 14em;
    height: 4em;
    padding: 1em 2em;
    background: rgba(243, 243, 243, 1);
    border: 1px solid gray;
    border-radius: 1em;
    top: 0;
    left: calc(50% - 9em);
    -webkit-box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.5);
    box-shadow: 0px 0px 25px 5px rgba(0,0,0,0.5);
    animation: fadeIn 0.5s forwards;
}

.popup span{
    font-size: 1em;
    font-weight: bold;
}

.popup button{
    width: 50%;
    font-size: 0.8em;
}

@keyframes fadeIn {
    from{
        opacity: 0;
        transform: translateY(-100px);
    }
    to{
       opacity: 100%;
        transform: translateY(50px);
    }
}

.closed{
    display: none;
}

.no-valid {
    border: 3px solid red !important;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
