/*Zaznaczanie na nawigacji*/

nav li:first-child{
    background: #0C760C;
    color: white;
}

nav li:first-child::after{
    content: "";
    position: absolute;
    background: #0C760C;
    width: 20px;
    height: 20px;
    right: calc(-1em - 4px);
    top: calc(50% - 10px);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

nav li:first-child:hover{
    background: #0C760C;
    color: white;
}

/*transactions*/
/*transactions header*/

.transactions > header {
    display: flex;
    justify-content: space-between;
    padding: 0 2em 0 1em;
    font-size: 1.6em;
}

.inner-header {
    display: flex;
    align-items: center;
}

.big-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.8em;
    height: 1.8em;
    clip-path: circle(50% at 50% 50%);
    color: white;
    font-size: 2em;
    margin-right: 0.7em;
}
.inner-header h2{
    font-size: 2em;
    text-transform: uppercase;
}

.inner-header p{
    font-size: 1.5em;
    font-weight: bold;
    margin-right: 1em;
}
.inner-header a>i{
    font-size: 2em;
}

/*transactions-container*/
.transactions-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transactions-container .transaction{
    width: 70%;
    margin-top: 2.5em;
    font-size: 1.8em;
    /*transition: transform 0.5s;*/
}

.transactions-container .transaction:hover{
    /*transform: scale(1.05);*/
}

.tran{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 1em);
    height: 3em;
    border: 1px solid #707070;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 3px 6px 4px rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 4px rgba(0,0,0,0.16);
    padding: 0 0.5em;
}

.tran-header{
    display: flex;
    align-items: center;
    font-size: 0.5em;
    height: 3.5em;
}

.tran-header h1{
    font-size: 3.5em;
    margin-right: 0.3em;
}

.tran-header div{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.tran-header span:first-child{
    font-size: 1.5em;
    font-weight: bold;
}

.tran-header span:last-child{
    color: gray;
}

.tran-footer{
    display: flex;
    align-items: center;
}

/*add-window*/
.add-window{
    width: calc(40vw - 4em);
    height: calc(45vh - 2em);
    top: 10vh;
    left: 30vw;
}

.add-window .add-transaction{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-top: 5%;
}
.add-window .add-transaction>div{
    display: flex;
    flex-direction: column;
}
.add-window .add-transaction>div label{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.add-window input[type="text"],
.add-window input[type="number"]{
    height: 2em;
    font-size: 1em;
    border: 1px solid black;
    border-radius: 5px;
}

@media (max-device-width: 700px) {
    .transactions-container a{
        width: 90%;
    }

    .transactions{
        min-height: calc(85vh - 1.5em);
        margin: 0;
        border-radius: 0.5em 0.5em 0 0;
    }

    .inner-header {
        font-size: 0.8em;
    }

    .inner-header h2{
        font-size: 1.5em;
    }

    .add-window{
        width: calc(60vw - 4em);
        height: calc(45vh - 2em);
        top: 10vh;
        left: 20vw;
    }


}