body {
    background: gray;
    margin: 13vh 3vw 0 11vw;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

a {
    text-decoration: none;
    color: inherit;
}

span:hover, h1:hover, h2:hover {
    cursor: default;
}

button {
    border: none;
    font-size: 1em;
    background: #0D870D;
    color: rgba(255, 252, 252, 0.76);
    padding: 0.5em;
    outline: none;
    border-radius: 0.5em;
    font-weight: bold;
}

button:hover {
    background: #0C760C;
    color: rgba(255, 252, 252, 1);
}

.minus {
    color: #E51C23;
    font-weight: bold;
}

.plus {
    color: #039BE5;
    font-weight: bold;
}

/*nav*/

nav {
    position: fixed;
    top: 10vh;
    left: 0;
    height: 90vh;
    width: 8vw;
    background: white;
    justify-content: center;
    transition: filter 0.7s;
}

nav .fas, nav .fa {
    font-size: 3em;
}

nav ul li p {
    margin: 0.4em 0 0 0;
    font-size: 1.2em;
    font-weight: bold;
}

nav ul {
    position: relative;
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.nav-item-container {
    text-align: center;
    padding: 1.5em 1em;
}

nav li {
    position: relative;
    width: 100%;
}


nav li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%
}

nav button {
    width: 100%;
}

nav li:hover {
    background: #2E982E;
    color: white;
}


nav li:last-child:hover {
    background: white;
    color: black;
}

/*header*/
main > header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    left: 0;
    width: calc(100% - 4em);
    height: 10vh;
    background: white;
    padding: 0 2em;
    -webkit-box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.16);
    z-index: 1;
    transition: filter 0.7s;
}

main > header h2 {
    font-size: 2.5em;
    text-transform: uppercase;
    display: inline-block;
    color: #0C6E0C;
    letter-spacing: 3px;
    margin: 0;
}

main > header h3 {
    font-size: 1.5em;
    display: inline-block;
    margin: 0 1em 0 0.5em;
}

main > header i {
    font-size: 1.5em;
}

main > header button {
    padding: 0.5em 1em;
    font-size: 1.1em;
}

main > header div {
    display: flex;
    justify-content: center;
    align-items: center;
}

main > header input[type=month] {
    font-size: 1.3em;
    margin-right: 1em;
}


/*section*/
/*    section header    */
section {
    width: 100%;
    min-height: 30vh;
    background: white;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.16);
    margin-bottom: 2em;
    padding-bottom: 1.5em;
    transition: filter 0.7s;
}

section > header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5em;
    border-bottom: 1px solid gray;
}

/*add-window*/

.add-window {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: calc(40vw - 4em);
    height: calc(35vh - 2em);
    top: 10vh;
    left: 30vw;
    padding: 1em 2em;
    background: white;
    border-radius: 1em;
    border: 1px solid black;
    -webkit-box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.16);
    box-shadow: 0 3px 6px 4px rgba(0, 0, 0, 0.16);
    z-index: 9999;
    transition: transform 0.7s, opacity 0.7s, visibility 0.7s;
    transform: translateY(0);
}


.add-window-nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.add-window-nav h2 {
    margin: 0;
    padding: 0;
    font-size: 2.3em;
    color: #0C6E0C;
}

.add-window-nav i {
    font-size: 2em;
    transition: transform 0.5s ease;
}

.add-window-nav i:hover {
    transform: scale(1.2);
    cursor: pointer;
}

.add-window .date-container {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.date-container label {
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.date-container input[type="date"],
.date-container input[type="month"] {
    width: 100%;
    background: white;
    height: 2em;
    font-size: 1.5em;
    border: 1px solid black;
    border-radius: 5px;
}


/*add-window-animations*/
.add-window-open {
    visibility: visible;
    opacity: 100%;
    transform: translateY(10vh);
}

.blur {
    filter: blur(5px) brightness(80%);
    pointer-events: none;
}

/*no-data-icon*/
.no-data-icon {
    display: none;
    margin-top: 2em;
    color: gray;
    text-align: center;
}

.no-data-icon i {
    margin: 0;
    font-size: 8em;
}

.no-data-icon span {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 3em;
}

/*red-square*/
.red-square {
    background-color: #ff0000;
    width: 1.4em;
    height: 1em;
    margin-left: 0.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    transition: background-color 0.2s;
}

.red-square:hover {
    background-color: #CC0000;
    cursor: pointer;
}

.red-square i {
    font-size: 0.5em;
    color: white;
}


@media (max-device-width: 1600px) and (min-device-width: 1301px) {
    nav {
        font-size: 0.8em;
    }

}

@media (max-device-width: 1300px) and (min-device-width: 701px) {
    body {
        margin: 13vh 3vw 0 15vw;
    }

    nav {
        width: 12vw;
        font-size: 0.8em;
    }

}


@media (max-device-width: 700px) {
    body {
        margin: 19vh 0 0 0;
        font-size: 1.4em;
    }

    nav {
        width: 100vw;
        top: 19vh;
        left: -100vw;
        height: 88vh;
        font-size: 1.3em;
        z-index: 1;
        transform: translateX(-10vw);
        transition: transform 0.7s;
    }

    nav li:first-child::after {
        display: none;
    }

    .nav-open {
        transform: translateX(100vw);
    }

    main > header {
        width: calc(100% - 1em);
        height: 15vh;
        padding: 0.5em 0.5em;
        flex-direction: column;
        justify-content: space-around;
    }

    main > header h2 {
        font-size: 2em;
    }

    .main-header-second-div {
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

}

@media (max-device-width: 1000px) {
    .add-window {
        width: calc(60vw - 4em);
        left: 20vw;
    }

}

@media (max-device-width: 800px) {
    .add-window {
        width: calc(60vw - 4em);
        height: calc(30vh - 2em);
        top: 10vh;
        left: 20vw;
    }

}

@media (max-device-width: 500px) {
    .add-window {
        font-size: 1.3em;
        width: calc(80vw - 4em);
        height: calc(30vh - 2em);
        top: 10vh;
        left: 10vw;
    }

    main > header{
        font-size: 1.3em;
    }


}

