/*Zaznaczanie na nawigacji*/

nav li:nth-child(3){
    background: #0C760C;
    color: white;
}

nav li:nth-child(3)::after{
    content: "";
    position: absolute;
    background: #0C760C;
    width: 20px;
    height: 20px;
    right: calc(-1em - 4px);
    top: calc(50% - 10px);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

nav li:nth-child(3):hover{
    background: #0C760C;
    color: white;
}

/*date*/
.date{
    margin-right: 2em;
    font-weight: bold;
}
.date span{
    font-size: 1.5em;
}
.date i{
    font-size: 1.3em;
    margin-left: 0.3em;
}

/*section*/
/*    section header    */
section>header{
    height: 8em;
}

.balance{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.8em;
}

.balance h2{
    font-size: 0.8em;
    color: #A0A0A0;
}

/*summary-details*/
.summary-details{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 4em;
    min-height: 60vh;
}
.summary-details h2{
    color: #A0A0A0;
    font-size: 2em;
}

.earnings, .spendings{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

/*diagram*/
.diagram{
    position: relative;
    width: 15em;
    height: 15em;
    clip-path: circle(50% at 50% 50%);
    overflow: hidden;
}
.piece{
    position: absolute;
    width: 100%;
    height: 100%;
}

/*earnings*/
.earnings .piece:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background:#F84848;
}
.earnings .piece:nth-child(2){
    clip-path: polygon(62% 0, 100% 0, 100% 34%, 50% 50%);
    background: #0D6E0C;
}

/*spendings*/
.spendings .piece:nth-child(1){
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background:#9448F8;
}
.spendings .piece:nth-child(2){
    clip-path: polygon(50% 0, 100% 0, 100% 90%, 50% 50%);
    background: #F8A648;
}
.spendings .piece:nth-child(3){
    clip-path: polygon(0 30%, 0 0, 50% 0, 50% 50%);
    background: #4B4BEF;
}

/*components*/
.components{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    line-height: 3em;
    width: 100%;
    margin-top: 1em;
}
.components i{
    color: white;
}
.comp{
    display: flex;
    align-items: center;
}
.comp span{
    font-size: 1.3em;
    font-weight: bold;
}

.comp div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.3em;
    height: 1.3em;
    padding: 0 0.1em;
    font-size: 1.5em;
    margin-right: 0.3em;
}

#comp-1 div{
    background:#F84848;
}

#comp-2 div{
    background: #0D6E0C;
}

#comp-3 div{
    background:#9448F8;
}

#comp-4 div{
    background: #F8A648;
}

#comp-5 div{
    background: #4B4BEF;
}

@media (max-device-width: 600px) {
    .summary {
        min-height: calc(85vh - 1.5em);
        margin: 0;
        border-radius: 0.5em 0.5em 0 0;
    }

    section>header{
        flex-direction: column;
        height: 40vh;
        font-size: 1.5em;
        padding-bottom: 2em;
    }

    .summary-details{
        flex-direction: column;
        align-items: center;
        margin-top: 0;
    }

    .earnings, .spendings{
        margin-top: 2em;
    }
}