/*Zaznaczanie na nawigacji*/

nav li:first-child{
    background: #0C760C;
    color: white;
}

nav li:first-child::after{
    content: "";
    position: absolute;
    background: #0C760C;
    width: 20px;
    height: 20px;
    right: calc(-1em - 4px);
    top: calc(50% - 10px);
    clip-path: polygon(100% 50%, 0 0, 0 100%);
}

nav li:first-child:hover{
    background: #0C760C;
    color: white;
}

/*categories*/
/*    categories header    */
.categories>header>div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 33%;
    height: 100%;
    pointer-events: none;
}

.categories>header>div>span:hover{
    color: #2E982E;
    cursor: pointer;
}

.categories>header>div>span{
    color: #C2C2C2;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.5em;
}

.categories>header>div.selected>span{
    color: #2E982E;
}

.categories>header>div{
    position: relative;
}

.categories>header>div.selected::after{
    content: "";
    position: absolute;
    background: #2E982E;
    width: 40%;
    left: 30%;
    height: 3px;
    bottom: -2px;
}

/*    categories div's   */
.categories-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-link{
    width: 70%;
    margin-top: 2.5em;
    font-size: 1.8em;
    transition: transform 0.5s;
}

.cat-hidden{
    display: none;
}

.category-link:hover{
    transform: scale(1.05);
}

.cat{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 1em);
    height: 3em;
    border: 1px solid #707070;
    border-radius: 0.5em;
    -webkit-box-shadow: 0 3px 6px 4px rgba(0,0,0,0.16);
    box-shadow: 0 3px 6px 4px rgba(0,0,0,0.16);
    padding: 0 0.5em;
}

.circle{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.3em;
    height: 2.3em;
    clip-path: circle(50% at 50% 50%);
    color: white;

}

.circle>i{
    font-size: 1.3em;
}

.cat h2{
    margin-left: 0.3em;
}

.cat-inner-div{
    display: flex;
    align-items: center;
}

.cat span{
    font-weight: bold;
    font-size: 1.2em;
}

.cat-inner-div>i {
    font-size: 1.9em;
    margin-left: 0.2em;
}

@media (max-device-width: 1100px) {
    .categories > header {
        font-size: 0.9em;
    }

}

@media (max-device-width: 700px) {
    .category-link{
        width: 90%;
    }

    .categories>header>a:nth-child(2)::after{
        width: 160%;
        left: -30%;
    }

    .categories{
        min-height: calc(81vh - 1.5em);
        margin: 0;
        border-radius: 0.5em 0.5em 0 0;
    }

    .categories>header>div.selected::after{
        width: 80%;
        left: 10%;
    }
}

