.wrapper{
    background: white;
}

.wrapper>p{
    font-size: 1.3em;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.wrapper ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    height: 100%;
}

.select_wrap{
    position: relative;
    user-select: none;
}

.select_wrap .default_option{
    background: #fff;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
    border: 1px solid black;
    padding: 0.5em 1em;
}
.select_wrap .default_option:before{
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    right: 1em;
    width: 6px;
    height: 6px;
    border: 2px solid;
    border-color: transparent transparent #555555 #555555;
    transform: rotate(-45deg);
}
.select_wrap.active .default_option:before{
    top: 50%;
    transform: rotate(-225deg);
}

.select_wrap .select_ul{
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: calc(100% - 2px);
    background: white;
    border-radius: 5px;
    border: 1px solid black;
    display: none;
}
.select_wrap .select_ul li{
    padding: 0.5em 1em;
}

.select_wrap .option{
    display: flex;
    align-items: center;
}

.select_wrap.active .select_ul{
    display: table;
}

.select_wrap.active .select_ul li:hover{
    background: #7CF64F;
    cursor: pointer;
}

.select_wrap.active .select_ul li:first-child:hover{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.select_wrap.active .select_ul li:last-child:hover{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.option .circle{
    font-size: 1.1em;
}

.option p{
    margin: 0 0 0 0.5em;
    font-size: 1.3em;
    font-weight: bold;
}

.option1 .circle{
    background: #F8A648;
}

.option2 .circle{
    background: #9448F8;
}

.option3 .circle{
    background: #F84848;
}

.option4 .circle{
    background: #38C21E;
}

.option5 .circle{
    background: #4848F8;
}
