.loader{
    position: relative;
    margin-top: 2em;
    width: 8em;
    height: 8em;
}

.loader div{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-top-color: #2E982E;
    border-radius: 50%;
    animation: spinner1 1.2s linear infinite;
}

.loader div:nth-child(2){
    border: 10px solid transparent;
    border-bottom-color: #2E982E;
    animation: spinner2 1.2s linear infinite;
}

@keyframes spinner1 {
    0% {
        transform: rotate(0deg);
        border-width: 10px;
    }

    50% {
        transform: rotate(180deg);
        border-width: 1px;
    }

    100% {
        transform: rotate(360deg);
        border-width: 10px;
    }
}

@keyframes spinner2 {
    0% {
        transform: rotate(0deg);
        border-width: 1px;
    }

    50% {
        transform: rotate(180deg);
        border-width: 10px;
    }

    100% {
        transform: rotate(360deg);
        border-width: 1px;
    }
}