.menu-btn{
    position: relative;
    border: none;
    outline: none;
    background: #0D870D;
    height: 8px;
    border-radius: 1em;
    padding: 0;
    margin-right: 1em;
    width: 2.5em;
    display: none;
    transition: transform 0.5s, background 0.5s, rotate 0.5s;
}

.menu-btn::after, .menu-btn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #0D870D;
    height: 100%;
    border-radius: 1em;
    padding: 0;
    width: 100%;
    transition: inherit;
}

.menu-btn:hover::after, .menu-btn:hover::before{
    background: #0C760C;
}

.menu-btn::after{
    transform: translateY(16px);
}

.menu-btn::before{
    transform: translateY(-16px);
}

.menu-btn.open {
    transform: translateX(-75px);
    background: transparent;
}

.menu-btn.open::after {
    transform: translateX(75px) rotate(-45deg);
}
.menu-btn.open::before {
    transform: translateX(75px) rotate(45deg);
}




@media (max-device-width: 700px) and (min-device-width: 601px){
    .menu-btn{
        display: block;
    }

}

@media (max-device-width: 600px) {
    .menu-btn{
        display: block;
    }
}